src/files/gitlab/docker-compose.yml
src/files/nfs/exports
src/files/prometheus/server/prometheus.yml
src/inv.ini
src/.vagrant
src/kvm.sh
src/Vagrantfile
src/play-k8s-w.yml
src/play-vagrant.yml
src/vars-k8s.yml
src/files/nginx/index.html
src/files/nginx/nginx.conf